<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmall.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.mmall.pojo.UserInfo" >
    <constructor >
      <idArg column="acct" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="passwd" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="local_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="state" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parse1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parse2" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    acct, passwd, local_id, state, parse1, parse2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from acct_info_table
    where acct = #{acct,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from acct_info_table
    where acct = #{acct,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mmall.pojo.UserInfo" >
    insert into acct_info_table (acct, passwd, local_id, 
      state, parse1, parse2
      )
    values (#{acct,jdbcType=VARCHAR}, #{passwd,jdbcType=VARCHAR}, #{localId,jdbcType=INTEGER}, 
      #{state,jdbcType=VARCHAR}, #{parse1,jdbcType=VARCHAR}, #{parse2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.pojo.UserInfo" >
    insert into acct_info_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="acct != null" >
        acct,
      </if>
      <if test="passwd != null" >
        passwd,
      </if>
      <if test="localId != null" >
        local_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="parse1 != null" >
        parse1,
      </if>
      <if test="parse2 != null" >
        parse2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="acct != null" >
        #{acct,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null" >
        #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="localId != null" >
        #{localId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="parse1 != null" >
        #{parse1,jdbcType=VARCHAR},
      </if>
      <if test="parse2 != null" >
        #{parse2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.pojo.UserInfo" >
    update acct_info_table
    <set >
      <if test="passwd != null" >
        passwd = #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="localId != null" >
        local_id = #{localId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="parse1 != null" >
        parse1 = #{parse1,jdbcType=VARCHAR},
      </if>
      <if test="parse2 != null" >
        parse2 = #{parse2,jdbcType=VARCHAR},
      </if>
    </set>
    where acct = #{acct,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.pojo.UserInfo" >
    update acct_info_table
    set passwd = #{passwd,jdbcType=VARCHAR},
      local_id = #{localId,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR},
      parse1 = #{parse1,jdbcType=VARCHAR},
      parse2 = #{parse2,jdbcType=VARCHAR}
    where acct = #{acct,jdbcType=VARCHAR}
  </update>



  <select id="checkUserName" resultType="int" parameterType="string" >
    select count(1) from acct_info_table
    where acct = #{acct}
  </select>

  <select id="selectLogin" resultType="com.mmall.pojo.UserDto" parameterType="map">


    SELECT
    a.acct, a.passwd, a.local_id, a.state, a.parse1, a.parse2,
    l.local_name as localName,l.attr as localAttr,
    l.phone as localPhone,l.parse1 as localParse1,
    l.parse2 as localParse2,l.parse3 as localParse3
    FROM acct_info_table a,local_info_table l
    WHERE a.acct = #{acct}
    AND a.passwd =#{passwd}
    AND a.local_id=l.local_id



  </select>



</mapper>